/excercises/lesson3/nbproject/private/
/excercises/lesson3/build/
/excercises/lesson4/nbproject/private/
/excercises/lesson4/build/
/excercises/lesson5/nbproject/private/
/excercises/lesson5/build/
/excercises/lesson6/nbproject/private/
/excercises/lesson6/build/
/excercises/lesson7/nbproject/private/
/excercises/lesson7/build/
/excercises/lesson8/nbproject/private/
/excercises/lesson8/build/
/excercises/lesson9/nbproject/private/
/excercises/lesson9/build/
/excercises/lesson10/nbproject/private/
/excercises/lesson10/build/
/excercises/lesson11/nbproject/private/
/excercises/lesson11/build/


